.notItem {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    letter-spacing: 0.2px;
    text-transform: capitalize;

    color: #ACACAC;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.002em;
    text-transform: capitalize;
    color: #666666;

  }
}

.Item {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;

  .itemDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: none;
    accent-color: #008594;
    outline: 1px solid #008594;
  }

  .itemValue {
    width: 673.54px;
    height: 32px;
    margin-left: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: #666666;
  }

  .completed {
    color: #ACACAC;
  }

  .removeItem {
    margin-right: 29.41px;
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 375px) {


  .notItem {
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.2px;
      text-transform: capitalize;

    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.002em;
      text-transform: capitalize;
    }
  }

  .Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 94px;
    box-sizing: border-box;
    position: relative;



    .itemDiv {
      width: 280px;

      .itemValue {
        word-wrap: break-word;
        width: 270px;
        overflow: visible;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        margin-left: 11px;
        color: #666666;
      }
    }

    .removeItem {
      position: absolute;
      right: -25px;
    }

  }
}
